name: Release

on:
  push:
    branches:
      - main
    paths-ignore:
      - README.md
    tags:
      - "v*.*.*"
  pull_request:
    paths-ignore:
      - README.md

jobs:
  linux-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: recursive

      - name: Prepare PlayCppSdk
        run: make

      - name: Package For Windows,Mac
        run: |
          FILENAME="CronosPlayForUnrealEngine.zip"
          cd Plugins/play-unreal-plugin
          zip -r ${FILENAME} Source Resources CronosPlayUnreal.uplugin
          mv ${FILENAME} ../..
          cd ../..
          sha256sum ${FILENAME} > "checksums.txt"
          echo "release_file=${FILENAME}" >> $GITHUB_ENV
          echo "checksum_file=checksums.txt" >> $GITHUB_ENV


      - name: Upload binaries and bindings to Release
        uses: softprops/action-gh-release@v1
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        with:
          draft: true
          files: |
            ${{ env.release_file }}
            ${{ env.checksum_file }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
